<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Protingas Blogas</title>
    <link rel="stylesheet" href="styles.min.css">
</head>
<body>
    <div class="container-fluid main-page-content">
        <div class="row">
            <div class="col-2 sidebar">
                <div class="logo">
                    Blog'as
                </div>
                <div class="list-group list-group-flush">
                    <a href="index.html" class="list-group-item list-group-item-action active"><i class="fas fa-home"></i> Pradžia</a>
                    <a href="index.html" class="list-group-item list-group-item-action"><i class="fas fa-book"></i> Straipsniai</a>
                </div>
            </div>
            <div class="col-10 content-wrapper">
                <div class="user-row">
                    <ul>
                        <li><a href="login.html" class="">Prisijungti</a></li>
                        <li><a href="register.html" class="">Registruotis</a></li>
                    </ul>
                </div>
                <div class="content">
                    <div class="block hide" id="article-template">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Panel title</h3>
                            </div>
                            <div class="panel-body">
                                Panel content
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="scripts.min.js"></script>
</body>
</html>